.header{
  background: var(--gray-800);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;
  gap: 1rem;
}

.header img {
  height: 2rem;
}

.title {
  color: var(----gray-100);
  font-size: 1.625rem;
  font-weight: 700;
}